.about {
  &__wrapper {
    @include fluid(margin-top, 50px, 100px);
    @include fluid(margin-bottom, 50px, 96px);
  }

  &__inner {
    display: flex;
    flex-direction: column;
    @include fluid(gap, 16px, 24px);
    @include fluid(margin-bottom, 20px, 40px);

    &--alt {
      @include fluid(gap, 20px, 32px);
    }

    &-box {
      display: grid;
      grid-template-columns: 1fr .8fr;
      @include fluid(gap, 20px, 147px);
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    @include fluid(gap, 16px, 24px);
    max-width: 652px;
    max-height: 100%;

    &--alt {
      @include fluid(gap, 20px, 32px);
    }

    &-title {
      text-wrap: balance;
    }

    &-text {
      &--bold {
        font-weight: 600;
      }
    }
  }

  &__images {
    position: relative;
    @include fluid(min-height, 300px, 358px);
    overflow: hidden;

    &-img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      border-radius: 10px;
      -o-object-fit: cover;
      object-fit: cover;
    }
  }

  &__elem {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    @include fluid(gap, 20px, 32px);

    &-item {
      @include fluid(padding-top, 16px, 24px);
      @include fluid(padding-bottom, 12px, 16px);
      @include fluid(padding-left, 12px, 16px);
      @include fluid(padding-right, 12px, 16px);
      border-radius: 10px;
      background-color: #F0F0F0;
    }

    &-img {
      @include fluid(height, 60px, 72px);
      @include fluid(margin-bottom, 16px, 24px);
    }

    &-title {
      font-weight: 600;
      @include fluid(font-size, 16px, 20px);
      margin-bottom: 6px;
      text-align: center;
    }

    &-text {
      font-family: "Exo";
      font-size: 12px;
      @include fluid(margin-bottom, 10px, 12px);
      color: #4F4F4F;
      text-align: center;
      text-wrap: balance;
    }
  }

  &__text {
    max-width: 880px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-wrap: balance;
  }

  &__info {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    @include fluid(gap, 20px, 32px);

    &-item {
      display: flex;
      flex-direction: column;
      gap: 4px;
      @include fluid(padding-bottom, 12px, 16px);
      border-bottom: 1px solid #BDBDBD;
    }

    &-num {
      @include fluid(font-size, 24px, 48px);
      font-weight: 700;
      color: #FAB700;
    }

    &-text {
      color: #333;
    }
  }

}

@media(max-width:992px) {
  .about {
    &__inner {
      &-box {
        grid-template-columns: 1fr;
      }
    }

    &__images {
      &-img {
        height: 300px;
      }
    }

    &__elem {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media(max-width:576px) {
  .about {
    &__elem {
      grid-template-columns: 1fr;
    }
  }
}