.filter {
  &__inner {
    display: flex;
    flex-direction: column;
    @include fluid(gap, 12px, 16px);
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    pointer-events: none;

    &-icon {
      display: none;
      width: 20px;
      height: 20px;
      transition: transform .23s ease-in-out;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    @include fluid(gap, 12px, 16px);
  }

  .accordionBotFilter-content {
    max-height: unset;
  }

  &__item {
    &-box {
      display: flex;
      flex-direction: column;
      @include fluid(gap, 12px, 16px);
      @include fluid(margin-top, 12px, 15px);
    }

    &-block {
      display: flex;
      flex-direction: column;
      @include fluid(gap, 12px, 16px);
      overflow: auto;
      @include fluid(max-height, 135px, 145px);
    }
  }

  &__accordion {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    @include fluid(padding-bottom, 12px, 16px);
    border-bottom: 1px solid #BDBDBD;
    cursor: pointer;

    &-text {
      font-weight: 500;
    }

    &.accordionBotFilter--active {
      .filter__accordion-icon {
        transform: rotateX(-180deg);
      }
    }

    &-icon {
      @include fluid(width, 20px, 24px);
      @include fluid(height, 20px, 24px);
      transition: transform .23s ease-in-out;
    }
  }
}

@media(max-width:992px) {
  .filter {
    &__inner {
      border-bottom: 1px solid #BDBDBD;
    }

    &__title {
      pointer-events: auto;

      &.accordionBotFilter--active {
        .filter__title-icon {
          transform: rotateX(-180deg);
        }

        +.accordionBotFilter-content {
          .filter__content {
            margin-bottom: 12px;
          }
        }
      }

      &-icon {
        display: block;
      }
    }

    .accordionBotFilter-content {
      max-height: 0;
    }
  }
}