@font-face {
  font-family: "Fira Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../../assets/fonts/FiraSans-Regular.woff") format("woff"),
    url("../../assets/fonts/FiraSans-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Fira Sans";
  font-weight: 500;
  font-style: normal;
  src: url("../../assets/fonts/FiraSans-Medium.woff") format("woff"),
    url("../../assets/fonts/FiraSans-Medium.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Fira Sans";
  font-weight: 600;
  font-style: normal;
  src: url("../../assets/fonts/FiraSans-SemiBold.woff") format("woff"),
    url("../../assets/fonts/FiraSans-SemiBold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Exo";
  font-weight: 400;
  font-style: normal;
  src: url("../../assets/fonts/Exo-Regular.woff") format("woff"),
    url("../../assets/fonts/Exo-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Exo";
  font-weight: 600;
  font-style: normal;
  src: url("../../assets/fonts/Exo-SemiBold.woff") format("woff"),
    url("../../assets/fonts/Exo-Regular.woff2") format("woff2");
  font-display: swap;
}