.socials {
  display: flex;
  @include fluid(gap, 10px, 12px);

  &__icon {
    svg {
      circle {
        transition: fill .23s ease-in-out;
      }
    }

    &:hover {
      svg {
        circle {
          fill: #FAB700;
        }
      }
    }
  }
}