.stores {
  &--tab {
    .stores {

      &__title,
      &__text {
        @include fluid(margin-bottom, 12px, 16px);
      }

      &__inner {
        grid-template-columns: .613fr 1fr;
        @include fluid(gap, 12px, 16px);
      }

      &__item {
        &-content {
          height: 100%;
        }

        &-box {
          &:hover {
            background-color: unset
          }
        }
      }
    }
  }

  &__wrapper {
    @include fluid(margin-top, 50px, 100px);
    @include fluid(margin-bottom, 50px, 124px);
  }

  &__title {
    @include fluid(margin-bottom, 16px, 24px);
  }

  &__text {
    color: #6C6C6C;
  }

  &__inner {
    display: grid;
    grid-template-columns: 1fr .45fr;
    @include fluid(gap, 20px, 32px);
  }

  &__item {
    position: relative;

    &-arrow {
      position: absolute;
      pointer-events: none;
      @include fluid(width, 30px, 48px);
      @include fluid(height, 30px, 48px);
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 50%);
    }

    &-content {
      border-radius: 10px;
      border: 1px solid #BDBDBD;
      @include fluid(max-height, 370px, 470px);
      overflow: auto;
    }

    &-box {
      display: flex;
      flex-direction: column;
      @include fluid(gap, 8px, 11px);
      @include fluid(padding-top, 16px, 24px);
      @include fluid(padding-bottom, 16px, 24px);
      @include fluid(padding-left, 12px, 16px);
      @include fluid(padding-right, 12px, 16px);
      transition: background-color .23s ease-in-out;

      &:has(+*) {
        border-bottom: 1px solid #BDBDBD;
      }

      &:hover {
        background-color: #F2F2F2;
      }
    }

    &-title {
      @include fluid(font-size, 16px, 20px);
      font-weight: 500;
      line-height: 1.3;
      transition: color .23s ease-in-out;
      cursor: pointer;

      &:hover {
        color: #FAB700;
      }
    }

    &-block {
      display: flex;
      flex-direction: column;
      @include fluid(gap, 12px, 15px);
    }

    &-column {
      display: flex;
      align-items: center;
      gap: 4px;

      &--start {
        align-items: start;
      }
    }

    &-phone {
      display: flex;
      flex-direction: column;
    }

    &-icon {
      @include fluid(width, 20px, 24px);
      @include fluid(height, 20px, 24px);
    }

    &-link,
    &-text {
      color: #3C3C3C;
      line-height: 1.2;
    }

    &-link {
      transition: color .23s ease-in-out;

      &:hover {
        color: #FAB700;
      }
    }
  }
}

@media(max-width:992px) {
  .stores {
    &--tab {
      .stores {
        &__inner {
          grid-template-columns: 1fr;
        }
      }
    }

    &__inner {
      grid-template-columns: 1fr .8fr;

    }
  }
}

@media(max-width:768px) {
  .stores {
    &__inner {
      grid-template-columns: 1fr;
    }
  }
}